<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cz.android.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".listview.sample2.SimpleNestedList2Activity"></activity>
        <activity android:name=".nested.sample4.NestedScrollSample4Activity" />
        <activity android:name=".recycler.RecyclerViewRecyclerTestActivity" />
        <activity android:name=".nested.sample3.NestedScrollSample3Activity" />
        <activity android:name=".nested.sample2.NestedScrollSample2Activity" />
        <activity android:name=".nested.sample1.NestedScrollSample1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".message.HandleSampleActivity" />
        <activity android:name=".table.TableSampleActivity" />
        <activity android:name=".gesture.GestureSample2Activity" />
        <activity android:name=".gesture.GestureSampleActivity" />
        <activity android:name=".drawable.RippleDrawableSampleActivity" />
        <activity android:name=".transition.LayoutTransitionSampleActivity" />
        <activity android:name=".relative.SimpleConstraintLayoutActivity" />
        <activity android:name=".relative.RelativeLayoutActivity" />
        <activity android:name=".animator.AnimatorEngineSampleActivity" />
        <activity android:name=".animator.CloneAnimatorSampleActivity" />
        <activity android:name=".animator.AnimatorSetSampleActivity" />
        <activity android:name=".listview.sample1.SimpleListViewSampleActivity" />
        <activity android:name=".text.TextViewSample1Activity" />
        <activity android:name=".text.TextViewSample2Activity" />
    </application>

</manifest>